<div class="jumbotron">
	<h1 class="display-4">Reader View Issue Requests</h1>
	<p>My Book Issue Requests</p>
	<%= link_to 'logout', destroy_user_session_path, method: :delete %>
</div>

<div class="container">
	<table class="table table-striped">
		<thead>
			<th>id</th>
			<th>Username</th>
			<th>Book Title</th>
			<th>Issue Date</th>
			<th>Return Date</th>
			<th>Status</th>
			<th>Action</th>			
		</thead>
		<tbody>
			<% @issues.each do |issue| %> 
			<tr>
				<td><%= issue.id %></td>
				<td><%= issue.user.email %></td>
				<td><%= issue.book.title %></td>
				<td><%= issue.issue_date %></td>
				<td><%= issue.return_date %></td>
				<td><%= issue.status == 'approved' ? 'Approved' : issue.status == 'returned' ? 'Returned' : 'Not Approved'%></td>
				<td><%= link_to 'Return',reader_path(issue.id), class: "btn btn-primary btn-sm #{issue.approved? ? '' : 'disabled'}", data: { confirm: "Are you sure?" } %>
				</td>
			</tr>
			<% end%>
		</tbody>
		
	</table>
</div>